#File cấu hình thực tế
#appsettings.json
appsettings.Development.json
#file build solution
.vscode/
.vs/
bin/
obj/
*.csproj.user
.config/
**/Properties/PublishProfiles/
**/Properties/ServiceDependencies/