@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học Nhóm</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <link href="~/lib/intl-tel-input/css/intlTelInput.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/course-gen.css">
    <style>

        .navbar {
                      position: unset;
                      border-radius: 10px;
                      top: 1 !important;
                      /* Căn với sidebar mặc định */
                      width: 100% !important;
                      margin-top: -30px;
                  }

        .effect-test-online {
            color: white;
            font-weight: bold;
            text-shadow: 0px 1px 7px hsl(302, 100%, 37%);
            background: url(../Images/effect-1.gif);
        }

        .btn-test-online {
            display: inline-block;
            background-color: black !important;
            color: white;
            font-size: 14px;
            font-weight: bold;
            padding: 8px 15px;
            border: none;
            border-radius: 5px; /* Bo góc */
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.3s ease-in-out;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
            background: url(../Images/effect-1.gif);
        }

            .btn-test-online:hover {
                background-color: #45a049; /* Màu xanh nhạt hơn khi hover */
                color: white;
                transform: scale(1.05);
            }

    </style>
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <h1><a href="home.html" class="logo"><img src="~/Images/concoc.png" alt="Cup"></a></h1>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a asp-controller="Ielts" class="link-test">
                        <span class="fa fa-users"></span>
                        <span class="menu-text">Học Ielts</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Toeic" class="link-test">
                        <span class="fas fa-graduation-cap icon"></span>
                        <span class="menu-text">Học Toeic</span>
                    </a>
                </li>
                <li class="active">
                    <a asp-controller="home" class="link-test">
                        <span class="fa fa-frog"></span>
                        <span class="menu-text">AI Tutor</span>

                    </a>
                </li>
                <li>
                    <a asp-controller="selfStudy" class="link-test">
                        <span class="fas fa-book-open"></span>
                        <span class="menu-text">Tự học</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="ParentCourse" class="link-test">
                        <span class="bi bi-people-fill"></span>
                        <span class="menu-text">Trang học của cha mẹ</span>
                    </a>
                </li>
            </ul>

            <div class="footer">
                <p style="color: #667085;">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                  target="_blank">Colorlib.com</a>
                </p>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-sidebar-custom ">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-bs-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            @*  <li class="nav-item active">
                            <a class="nav-link" href="home.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                            </li> *@
                            <li>
                                <a style="margin-right: 20px;" class="btn-test-online" asp-controller="Ielts" asp-action="TestOnline">
                             
                                     <span class="effect-test-online">
                                         Test
                                        IELTS
                                    </span>
                                </a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                // Đọc thông tin từ cookie
                                var fullName = User.Identity.Name;
                                var avatarUrl = User.FindFirst("Avatar")?.Value;
                                <li class="nav-item dropdown">

                                    <a class="nav-link dropdown-toggle nav-link-avatar" href="#" id="avatarDropdown" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="nav-img">
                                            <img src="@avatarUrl" alt="Avatar" class="img-fluid" style="border-radius: 50%;">
                                        </div>
                                    </a>
                                    <div class=" menu-items dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
                                        <div class="menu-title">
                                            <h6 class="dropdown-header">Hello, <span>@fullName</span></h6>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Profile" asp-action="index">
                                            <i class="bi bi-person-circle"></i> View Profile
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a id="logout-link" class="dropdown-item text-danger" href="#">
                                            <i class="bi bi-box-arrow-right"></i> <span id="logoutOption">Logout</span>
                                        </a>

                                        <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" style="display: none;"></form>

                                    </div>
                                </li>
                            }
                            else
                            {
                                <a class="btn-login-custom btn " asp-controller="Account" asp-action="Login">Đăng nhập</a>
                            }
                        </ul>
                    </div>
                </div>
            </nav>


            <!-- Khối lệnh tư vấn -->
            <div class="content-container">
                <div class="frame-image">
                    <img src="~/Images/TUVAN.webp">
                </div>
                <div class="content-body">
                    <div class="content-tilte">
                        <p class="text-center"
                           style="font-weight: bold; font-size: 20px; color: black; margin-top: -10px;">FAI Tutor</p>
                        <p class=" text-center"
                           style="padding: 0 20px; font-size: 17px; color: #333; margin-top: -18px ;">
                            Học không giới
                            hạn với gia sư AI tiên tiến. Chuẩn hóa phát âm, luyện giao tiếp với hàng ngàn tình huống
                        </p>
                        <button data-bs-toggle="modal" data-bs-target="#registerModal" id="button-tuvan"
                                class="button-tuvan" type="button">
                            <i style="margin-right: 5px !important;" class="bi bi-headset"></i>Nhận tư vấn ngay
                        </button>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- Lớp Overlay -->
    <div class="overlay" id="overlay"></div>

    <!-- Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-size: 22px;" id="registerModalLabel">Đăng ký tài khoản</h5>
                    <button type="button" class="btn-close-custom" data-bs-dismiss="modal"
                            aria-label="Close">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align: center; font-size: 20px; font-weight: bold; color: #333;">
                        Đăng ký <span style="color: orange;">miễn phí</span> ngay!
                    </p>
                    <form>
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Họ và Tên</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Nhập họ và tên">
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Số điện thoại</label>
                            <div class="input-group custom-input-group">
                                <div style="width: 100%;">
                                    <input type="tel" class="form-control" id="phone"
                                           placeholder="Nhập số điện thoại">
                                </div>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Nhập email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-regiter">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> *@

    <script src="~/lib/intl-tel-input/js/intlTelInput.min.js"></script>
    <script src="~/lib/intl-tel-input/js/utils.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>



    <script>

        // Initialize intl-tel-input
        const phoneInput = document.querySelector("#phone");
        const iti = window.intlTelInput(phoneInput, {
            initialCountry: "vn",
            preferredCountries: ["vn", "us", "gb"],
            separateDialCode: true,
            allowDropdown: true, // Bật dropdown
            utilsScript: "~/lib/intl-tel-input/js/utils.js", // Chỉ dùng nếu offline

        });

    </script>

</body>

</html>