@{
    Layout = null;
}
@model ForgotPasswordDto
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập - FAI English</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;550;600&family=Nunito:wght@400;500;550;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login-register.css">

    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" asp-append-version="true" />
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js" asp-append-version="true"></script>


    <style>
        .custom-confirm-btn, .custom-cancel-btn {
            width: 100px;
            padding: 10px;
        }

        .custom-confirm-btn {
            background-color: #333;
            color: white;
            border: none;
            transition: background-color 0.3s;
        }

            .custom-confirm-btn:hover {
                background-color: #01d28e;
            }
    </style>

</head>
<body>    
    <div class="container-fluid vh-100 d-flex">
        <div class="row w-100">
            <!-- Form Forgot password -->
            <div class="col-xl-6 col-12 first-card d-flex justify-content-center align-items-stretch">
                <div class="general-card">
                    <div class="card-body ">
                        <img src="~/Images/FAI-2.png" alt="Logo" class="mb-4 logo" />

                        <h3 class="mb-4 text-center fw-bold" style="color: #333">
                            Reset Password
                        </h3>
                        <p class="d-flex text-center" style="padding: 0px 10px;">To retrieve your password, enter your login email in the box below</p>
                        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Your Email</label>
                                <input type="email" asp-for="Email"  class="form-control" id="email" />
                                <span asp-validation-for="Email" class="validation-message"></span>
                                @if (ViewData["NotFoundAccount"] != null)
                                    {
                                        <div class="err" style="color: red">@ViewData["NotFoundAccount"]</div>
                                    }   
                                @if (ViewData["AccountLocked"] != null)
                                    {
                                        <div class="err" style="color: red">@ViewData["AccountLocked"]</div>
                                    }
                                @if (ViewData["AccountNotActivate"] != null)
                                    {
                                        <div class="err" style="color: red">@ViewData["AccountNotActivate"]</div>
                                    }
                                @if (ViewData["NotFoundTokenByUserId"] != null)
                                    {
                                    <div class="err" style="color: red">@ViewData["NotFoundTokenByUserId"]</div>
                                    }
                            </div>
                            <button type="submit" class="btn login-btn text-white w-100">
                                Send
                            </button>
                        </form>

                        <div class="border" style="border: 1 solid black; margin-top: 35px; margin-bottom: 10px;"></div>
                        <div class="d-flex justify-content-between align-items-stretch">
                            <a asp-action="Login">Login</a>
                            <a asp-action="register">Register</a>
                        </div>

                        <div>
                            <span class="d-flex justify-content-center align-items-center mt-4">Or continue with</span>
                            <div class="social">
                                <div class="social-inner">
                                    <a class="btn btn-danger" asp-controller="Auth" asp-action="LoginWithGoogle">
                                        <i class="fa-brands fa-google fa-2x"></i>
                                    </a>
                                    <a class="btn btn-info" asp-controller="Auth" asp-action="LoginWithTwitter">
                                        <i class="fa-brands fa-twitter fa-2x"></i>
                                    </a>
                                    <a class="btn btn-primary" asp-controller="Auth" asp-action="LoginWithFacebook">
                                        <i class="fa-brands fa-facebook fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Phần giới thiệu khóa học -->
            <div class="col-xl-6 col-12 second-card d-md-block">
                <!-- Cột phải: Carousel + giới thiệu -->
                <div id="carouselExampleControls"
                     class="carousel slide mb-4"
                     data-bs-ride="carousel">
                    <div class="d-flex flex-column justify-content-center align-items-center pading_custome p-5">
                        <!-- Tiêu đề -->
                        <h2 class="mb-3 text-center">All the English courses you need</h2>
                        <p class="text-center mb-4" style="max-width: 500px">
                            Children or adults, Communication, Exam preparation or skill development...
                        </p>

                        <!-- Carousel (trình chiếu ảnh) -->
                        <!-- Trình tự ảnh -->
                        <div class="carousel-inner">
                            <!-- Slide 1 -->
                            <div class="carousel-item active">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="img-wrapper">
                                        <img src="~/Images/slide5.png"
                                             class="d-block"
                                             alt="English for kids (4-12 years old)"
                                             style="max-height: 400px" />
                                        <div class="overlay-home"></div>
                                    </div>
                                    <div class="card-body-second">
                                        <p class="mt-2 text-center">English for kids (4-12 years old)</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide 2 -->
                            <div class="carousel-item">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="img-wrapper">
                                        <img src="~/Images/slide3.png"
                                             class="d-block"
                                             alt="Secondary English (13-18 years old)"
                                             style="max-height: 400px" />
                                        <div class="overlay-home"></div>
                                    </div>
                                    <div class="card-body-second">
                                        <p class="mt-2 text-center">
                                            Secondary English (13-18 years old)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide 3 -->
                            <div class="carousel-item">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="img-wrapper">
                                        <img src="~/Images/slide4.png"
                                             class="d-block"
                                             alt="Tiếng Anh người lớn"
                                             style="max-height: 400px" />
                                        <div class="overlay-home"></div>
                                    </div>
                                    <div class="card-body-second">
                                        <p class="mt-2 text-center">English for adults</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nút chuyển trái/phải -->
                        <button class="carousel-control-prev"
                                type="button"
                                data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next"
                                type="button"
                                data-bs-target="#carouselExampleControls"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <!-- Link tải app (nếu cần) -->
                   @*  <div class="text-center mt-3">
                        <p class="mb-3">Tải ứng dụng FAI English Tutor</p>
                        <a class="me-3">
                            <img src="https://learning.kynaforkids.vn/images/guest/google-play.png"
                                 alt="Google Play"
                                 style="height: 40px" />
                        </a>
                        <a>
                            <img src="https://learning.kynaforkids.vn/images/guest/app-store.png"
                                 alt="App Store"
                                 style="height: 40px" />
                        </a>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
    <script>
        const myCarousel = document.querySelector("#carouselExampleControls");
        const carousel = new bootstrap.Carousel(myCarousel, {
            interval: 3000, // 3 giây
            wrap: true,
        });
        // carousel.pause();  // Dừng
        // carousel.cycle();  // Chạy lại
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  
</body>
</html>
