
@{
    Layout = null;
}
@model ResetPasswordDto

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password - Fai English</title>
    <link rel="icon" type="image/png" href="~/images/favicon/con_coc_icon.png" />

    <link rel="stylesheet" href="~/css/login-register.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" asp-append-version="true" />
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js" asp-append-version="true"></script>
    <style>


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(2px) brightness(0.7);
            background: url('https://learning.kynaforkids.vn/static/media/desktop-guest.eeb46e156eeb80d6bc2b.png') no-repeat center center/cover;
            background-size: cover;
            padding: 30px;
            font-family: 'Poppins', sans-serif;
        }

        .custom-confirm-btn {
            width: 100px;
            padding: 10px;
        }

        .custom-confirm-btn {
            background-color: #f69322;
            color: white;
            border: none;
            transition: background-color 0.3s;
        }

            .custom-confirm-btn:hover {
                background-color: #ffa500;
            }

    </style>
</head>
<body>

<div class="reset-password-container">

        @if(TempData["Success"] != null) {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                        title: 'Reset password successfully!',
                        text: '\n' +
                            'You have set a new password to your acccout, please check login.',
                        icon: 'success',
                        confirmButtonText: 'OK',
                        customClass: {
                            confirmButton: 'custom-confirm-btn'
                        }
                    });
                });
            </script>
        }
    <div class="imageWrapper">
        <img src="https://cdn.prod.website-files.com/677fdb3bc7238499c15ce36b/677fdb3cc7238499c15ce533_icon-reset-password-saas-x-template.svg" alt="">
    </div>
    <h2 style="font-weight: bolder;">Reset Password</h2>
    @{
            if (ViewData["InvalidToken"] != null)
            {
                <div class="error">
                    <p>Invalid Token</p>
                </div>
            }
            if (ViewData["Tokenexpired"] != null)
            {
                <div class="error">
                    <p>This link has expired. Please go back to Login and try again.</p>
                </div>
            }
            if (ViewData["TokenValid"] != null)
            {
                <p style="margin-bottom: 20px !important;">If you want to reset your password, please enter your new password below.</p>
                <form method="POST" asp-controller="Account" asp-action="ResetPassword" >

                    <input type="hidden" name="token" asp-for="Token"/>
                    <span asp-validation-for="Token" class="text-danger"></span>
                    <div class="form-group">
                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Pick a password"  />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="RePassword" type="password" class="form-control" id="confirmPassword"  placeholder="Confirm password"  />
                        <span class="text-danger" asp-validation-for="RePassword"></span>

                    </div>


                    <div class="form-button">
                        <input type="submit" name="Submit" class="form-submit" value="Change Password" />
                    </div>


                </form>

                <p class="last-title-reset-password">
                    If you didn’t request a password recovery link,
                    please ignore this.
                </p>
            }
        }
    
</div>



</body>
</html>
