USE MASTER
GO

CREATE DATABASE FAI_ENGLISH
GO

USE FAI_ENGLISH
GO

CREATE TABLE [Role] (
    RoleID INT IDENTITY(1,1) PRIMARY KEY,
    RoleName NVARCHAR(255),
);
INSERT INTO [Role] (RoleName) VALUES ('admin');
INSERT INTO [Role] (RoleName) VALUES ('mentor');
INSERT INTO [Role] (RoleName) VALUES ('mentee');


CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    FullName NVARCHAR(255),
    Email NVARCHAR(255) UNIQUE NOT NULL,
    PasswordHash NVARCHAR(255) NULL, -- Cho phép null cho Google, Facebook login
    PhoneNumber VARCHAR(15),
    Avatar NVARCHAR(MAX),
	Dob DATETIME,
	Province INT,
    CreatedAt DATETIME DEFAULT GETDATE(),
    [Status] NVARCHAR(10) NOT NULL CHECK ([Status] IN ('PENDING', 'TRIAL', 'ACTIVATED', 'LOCKED', 'DELETE')),
	UpgradeLevel INT,
    expiryDate DATETIME,
    [Provider] NVARCHAR(50) NOT NULL, -- "Google", "Facebook", "Local", v.v.
    ProviderId NVARCHAR(255) NULL, -- ID từ provider (Google, Facebook), Local có thể NULL
    LastLogin DATETIME, -- Thời gian đăng nhập cuối

    -- Đảm bảo ProviderId chỉ unique khi nó KHÔNG NULL (Google/Facebook)
    CONSTRAINT CK_Provider_ProviderId CHECK (
        (Provider = 'Local' AND ProviderId IS NULL) 
        OR (Provider <> 'Local' AND ProviderId IS NOT NULL)
    )
);

-- Unique chỉ áp dụng khi ProviderId không NULL (chặn trùng ID từ Google, Facebook)
CREATE UNIQUE INDEX UQ_Provider_ProviderId 
ON Users([Provider], ProviderId) 
WHERE ProviderId IS NOT NULL;


INSERT INTO Users (FullName, Email, PasswordHash, PhoneNumber,Avatar, CreatedAt, [Status], UpgradeLevel, expiryDate, [Provider])
VALUES ('Admin FAI', 'faienglishtutor@gmail.com', 'AQAAAAEAACcQAAAAELfDRs7CCqQzPSu0IXkn11h2+6y8J0gFL7JhlYgD4HIo5Wd2EP8bKU4FCn1N8La50g==', '+84869620295','/Images/avatar.jpg', GETDATE(), 'ACTIVATED', 0, NULL, 'Local');


CREATE TABLE [dbo].[UserRole]
(
    userId INT,
    roleId INT,
    PRIMARY KEY (userId, roleId),
    FOREIGN KEY (userId) REFERENCES [dbo].[Users] (userId),
    FOREIGN KEY (roleId) REFERENCES [dbo].[Role] (RoleId)
    );

INSERT INTO UserRole (userId, roleId) VALUES (1, 1);


CREATE TABLE RefreshToken
(
    RefreshTokenId INT IDENTITY(1,1) PRIMARY KEY,
    TokenCode NVARCHAR(MAX) NOT NULL,
    ExpiryDate DATETIME NOT NULL,
    UserId INT NOT NULL,
    DeviceInfo NVARCHAR(256) NULL, -- Lưu thông tin thiết bị, nếu cần
	IsRevoked BIT NOT NULL DEFAULT 0,
    CreatedDate DATETIME DEFAULT GETDATE(),
    CONSTRAINT FK_UserRefreshToken FOREIGN KEY (UserId) REFERENCES Users(UserId)
);


CREATE TABLE VerificationToken
(
    tokenId    INT IDENTITY (1,1) PRIMARY KEY,
    tokenCode  NVARCHAR(MAX),
    expiryDate DATETIME,
    userId     INT UNIQUE, -- Đảm bảo mỗi userId chỉ xuất hiện một lần
    CONSTRAINT FK_UserToken FOREIGN KEY (userId) REFERENCES users (userId)
);

CREATE TABLE [Type] (
	TypeID INT IDENTITY(1,1) PRIMARY KEY,
	TypeName NVARCHAR(200)
);

CREATE TABLE Courses (
    CourseID INT IDENTITY(1,1) PRIMARY KEY,
    CourseName NVARCHAR(255) NOT NULL,
    Description NVARCHAR(MAX),
    Duration INT NOT NULL, -- Số giờ học
    CreatedAt DATETIME DEFAULT GETDATE(),
	TypeID Int foreign key references [Type](TypeID)

);

CREATE TABLE [Level] (
	LevelID INT IDENTITY(1,1) PRIMARY KEY,
	LevelName NVARCHAR(200),
	LevelScore NVARCHAR(50)
);


CREATE TABLE Situation (
    SituatuonID INT IDENTITY(1,1) PRIMARY KEY,
    SituationName NVARCHAR(255) NOT NULL,
    Description NVARCHAR(MAX),
	ImageUrl NVARCHAR(MAX),
	RoleAI NVARCHAR(255),
	RoleUser NVARCHAR(255),
    CreatedAt DATETIME DEFAULT GETDATE(),
	TypeID Int foreign key references [Type](TypeID),
	LevelID Int foreign key references [Level](LevelID)
);



CREATE TABLE Lessons (
    LessonID INT IDENTITY(1,1) PRIMARY KEY,
    CourseID INT FOREIGN KEY REFERENCES Courses(CourseID) ON DELETE CASCADE,
    Title NVARCHAR(255) NOT NULL,
    Situation NVARCHAR(MAX) NOT NULL,
    VideoURL NVARCHAR(500),
	ImageURL NVARCHAR(500),
    CreatedAt DATETIME DEFAULT GETDATE()
);


CREATE TABLE Payments (
    PaymentID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT FOREIGN KEY REFERENCES Users(UserID) ON DELETE CASCADE,
    CourseID INT FOREIGN KEY REFERENCES Courses(CourseID) ON DELETE CASCADE,
    Amount DECIMAL(10,2) NOT NULL,
    PaymentDate DATETIME DEFAULT GETDATE(),
	Content NVARCHAR(200),
    Status NVARCHAR(50) CHECK (Status IN ('Pending', 'Completed', 'Failed', 'Cancel'))
);

CREATE TABLE [Podcast] (
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [Title] NVARCHAR(255) NOT NULL,
    [Content] NVARCHAR(MAX) NOT NULL,
    [ImageUrl] NVARCHAR(500) NULL,
    [CreatedAt] DATETIME NOT NULL,
    [UserId] INT NULL,
    [Topic] NVARCHAR(100) NULL
);

CREATE TABLE Progress (
    ProgressID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT FOREIGN KEY REFERENCES Users(UserID) ON DELETE CASCADE,
    LessonID INT FOREIGN KEY REFERENCES Lessons(LessonID) ON DELETE CASCADE,
    Completed BIT DEFAULT 0,
    Score FLOAT,
    LastUpdated DATETIME DEFAULT GETDATE()
);

CREATE TABLE Feeback (
    FeebackID INT IDENTITY(1,1) PRIMARY KEY,
    UserID INT FOREIGN KEY REFERENCES Users(UserID) ON DELETE CASCADE,
    CourseID INT FOREIGN KEY REFERENCES Courses(CourseID) ON DELETE CASCADE,
    Rating INT CHECK (Rating BETWEEN 1 AND 5),
    Comment NVARCHAR(MAX),
    CreatedAt DATETIME DEFAULT GETDATE()
);

    CREATE TABLE ExamType (
        ExamTypeID INT IDENTITY(1,1) PRIMARY KEY,
        ExamName NVARCHAR(100) -- 'IELTS', 'TOEIC'
    );

    CREATE TABLE ExamPart (
        PartID INT IDENTITY(1,1) PRIMARY KEY,
        ExamTypeID INT FOREIGN KEY REFERENCES ExamType(ExamTypeID),
		PartType VARCHAR(50),
        PartName NVARCHAR(100),         -- 'Listening Part 1', 'Reading Part 5', ...
        Description NVARCHAR(MAX) NULL,  -- nếu cần mô tả thêm
		DefaultDuration INT
    );

    CREATE TABLE Exam (
        ExamID INT IDENTITY(1,1) PRIMARY KEY,
        ExamTypeID INT FOREIGN KEY REFERENCES ExamType(ExamTypeID),
        Title NVARCHAR(255),
        Description NVARCHAR(MAX),
        CreatedAt DATETIME DEFAULT GETDATE(),
        ParentExamID INT NULL,
        Slug NVARCHAR(255),
		Duration INT,
        CONSTRAINT FK_Exam_Parent FOREIGN KEY (ParentExamID) REFERENCES Exam(ExamID)
    );


    CREATE TABLE ExamSection (
        SectionID INT IDENTITY(1,1) PRIMARY KEY,
        ExamID INT FOREIGN KEY REFERENCES Exam(ExamID),
        PartID INT FOREIGN KEY REFERENCES ExamPart(PartID)
    );


    CREATE TABLE Question (
        QuestionID INT IDENTITY(1,1) PRIMARY KEY,
        SectionID INT FOREIGN KEY REFERENCES ExamSection(SectionID),
        QuestionText NVARCHAR(MAX),
        AudioURL NVARCHAR(500),   -- cho câu hỏi nghe TOEIC/IELTS
        ImageURL NVARCHAR(500),   -- nếu có hình ảnh
        QuestionType NVARCHAR(50) CHECK (QuestionType IN ('MultipleChoice', 'FillBlank', 'Essay')),
        Explanation NVARCHAR(MAX) NULL
    );


    CREATE TABLE Answer (
        AnswerID INT IDENTITY(1,1) PRIMARY KEY,
        QuestionID INT FOREIGN KEY REFERENCES Question(QuestionID),
        AnswerText NVARCHAR(MAX),
        IsCorrect BIT
    );


    CREATE TABLE UserExamResult (
        ResultID INT IDENTITY(1,1) PRIMARY KEY,
        UserID INT FOREIGN KEY REFERENCES Users(UserID),
        ExamID INT FOREIGN KEY REFERENCES Exam(ExamID),
        StartTime DATETIME,
        EndTime DATETIME,
        Score FLOAT,
		CustomDuration INT
    );

	CREATE TABLE UserExamPartSelection (
    SelectionID INT IDENTITY(1,1) PRIMARY KEY,
    ResultID INT FOREIGN KEY REFERENCES UserExamResult(ResultID),
    PartID INT FOREIGN KEY REFERENCES ExamPart(PartID),
    CONSTRAINT UK_UserExamPartSelection UNIQUE (ResultID, PartID)
);

    CREATE TABLE UserAnswer (
        UserAnswerID INT IDENTITY(1,1) PRIMARY KEY,
        ResultID INT FOREIGN KEY REFERENCES UserExamResult(ResultID),
        QuestionID INT FOREIGN KEY REFERENCES Question(QuestionID),
        SelectedAnswerID INT FOREIGN KEY REFERENCES Answer(AnswerID),
        IsCorrect BIT
    );


INSERT INTO [Type]  VALUES 
(N'Role Play'),(N'Listening'), (N'Pronounce');


-- TOEIC Levels
INSERT INTO [Level] (LevelName, LevelScore) VALUES 
(N'Beginner', '0-250'),
(N'Pre-Intermediate', '405-600'),
(N'Intermediate', '605-780'),
(N'Upper-Intermediate', '785-900'),
(N'Upper-Intermediate', '905-990'),
(N'Advanced','0-250')




INSERT INTO Situation (SituationName, Description, ImageUrl, RoleAI, RoleUser, TypeId , LevelID)
VALUES 
(N'Gọi đặt lịch khám', N'Sáng nay ngủ dậy bạn nhức đầu và đau họng kinh khủng. Bạn cần đi bác sĩ khám bệnh và lấy thuốc. Hãy gọi cho phòng khám để đặt lịch nhé!', N'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673763/roleplay/goi-dat-lich-kham.jpg', N'Y tá', N'Người bệnh',1, 1)



    INSERT INTO ExamType 
    VALUES (N'TOEIC'),(N'IELTS'),
    (N'TOEIC Listening & Reading'), 
    (N'TOEIC Speaking & Writing');


-- [Thay đổi] Cập nhật dữ liệu cho ExamPart, bao gồm PartType và DefaultDuration


INSERT INTO Exam (ExamTypeID, Title, Description, CreatedAt) VALUES
(3, N'TEST ĐẦU VÀO', N'Kiểm tra năng lực đầu vào', '2025-04-21 08:00:00'),
(3, N'HACKER TOEIC 3', N'Đề thi luyện tập Hacker 3', '2025-04-20 10:00:00'),
(3, N'HACKER TOEIC 2', N'Đề thi luyện tập Hacker 2', '2025-04-19 09:30:00'),
(1, N'ETS 2024', N'Đề mô phỏng từ ETS 2024', '2025-04-18 15:20:00'),
(2, N'IELTS MOCK TEST 1', N'Thi thử IELTS 4 kỹ năng', '2025-04-17 11:45:00');

INSERT INTO Exam (ExamTypeID, Title, Description, CreatedAt, ParentExamID, Slug, Duration) VALUES
(3, N'TEST ĐẦU VÀO (1)', N'Kiểm tra năng lực đầu vào', '2025-04-21 08:00:00', 1,'test-dau-vao-1', 120),
(3, N'TEST ĐẦU VÀO (2)', N'Kiểm tra năng lực đầu vào', '2025-04-21 08:00:00',1,'test-dau-vao-2', 120),
(3, N'TEST ĐẦU VÀO (3)', N'Kiểm tra năng lực đầu vào', '2025-04-21 08:00:00',1,'test-dau-vao-3', 120);

INSERT INTO ExamSection (ExamID, PartID) VALUES
(1, 1),
(1, 2),
(2, 1),
(2, 2),
(2, 3),
(3, 1),
(3, 2),
(4, 1),
(4, 2),
(4, 3),
(5, 4),
(5, 5),
(6, 1),
(6, 2),
(6, 3),
(6, 4),
(6, 5),
(6, 6),
(6, 7);



INSERT INTO Question (SectionID, QuestionText, AudioURL, ImageURL, QuestionType, Explanation) VALUES
(1, N'What is the man doing?', '/audio/q1.mp3', '/img/q1.jpg', 'MultipleChoice', N'Nhìn hành động'),
(2, N'Where is the nearest bank?', '/audio/q2.mp3', NULL, 'MultipleChoice', N'Đoán theo context'),
(5, N'Choose the correct word', NULL, NULL, 'FillBlank', N'Từ loại đúng');
-- Listening Part 1: Mô tả tranh (6 câu)
INSERT INTO Question (SectionID, QuestionText, AudioURL, ImageURL, QuestionType, Explanation) VALUES
(13, N'What is the woman doing?', '/audio/listening/part1/q1.mp3', '/img/listening/part1/q1.jpg', 'MultipleChoice', N'The woman is walking in the park.'),
(13, N'What is the man holding?', '/audio/listening/part1/q2.mp3', '/img/listening/part1/q2.jpg', 'MultipleChoice', N'The man is holding a book.'),
(13, N'Where are the people sitting?', '/audio/listening/part1/q3.mp3', '/img/listening/part1/q3.jpg', 'MultipleChoice', N'The people are sitting on a bench.');
-- Listening Part 2: Hỏi đáp (25 câu, thêm 3 câu mẫu)
INSERT INTO Question (SectionID, QuestionText, AudioURL, ImageURL, QuestionType, Explanation) VALUES
(14, N'Where is the meeting room?', '/audio/listening/part2/q1.mp3', NULL, 'MultipleChoice', N'The meeting room is on the second floor.'),
(14, N'What time does the train leave?', '/audio/listening/part2/q2.mp3', NULL, 'MultipleChoice', N'The train leaves at 3 PM.'),
(14, N'Who is calling?', '/audio/listening/part2/q3.mp3', NULL, 'MultipleChoice', N'The manager is calling.');
-- Listening Part 3: Hội thoại (39 câu, thêm 3 câu mẫu)
-- Listening Part 4: Bài nói (30 câu, thêm 3 câu mẫu)
-- Reading Part 5: Điền từ (30 câu, thêm 3 câu mẫu)
-- Reading Part 6: Điền đoạn văn (16 câu, thêm 3 câu mẫu)
-- Reading Part 7: Đọc hiểu (54 câu, thêm 3 câu mẫu)
INSERT INTO Answer (QuestionID, AnswerText, IsCorrect) VALUES
(1, N'He is cooking', 0),
(1, N'He is running', 1),
(1, N'He is sleeping', 0),
(2, N'Next to the library', 1),
(2, N'In the supermarket', 0),
(3, N'went', 1),
(3, N'go', 0);

-- QuestionID 4: What is the woman doing?
INSERT INTO Answer (QuestionID, AnswerText, IsCorrect) VALUES
(4, N'She is reading.', 0),
(4, N'She is walking.', 1),
(4, N'She is cooking.', 0),
(4, N'She is sleeping.', 0);

-- QuestionID 5: What is the man holding?
INSERT INTO Answer (QuestionID, AnswerText, IsCorrect) VALUES
(5, N'A phone.', 0),
(5, N'A book.', 1),
(5, N'A bag.', 0),
(5, N'A cup.', 0);

-- QuestionID 6: Where are the people sitting?


-- QuestionID 7: Where is the meeting room?

-- QuestionID 8: What time does the train leave?

-- QuestionID 9: Who is calling?

-- QuestionID 10: What are they discussing?

-- QuestionID 11: When will the meeting take place?

-- QuestionID 12: Who is leading the project?

-- QuestionID 13: What is the speaker talking about?

-- QuestionID 14: When is the event scheduled?

-- QuestionID 15: Who should employees contact?


-- QuestionID 16: The manager ______ the report yesterday.

-- QuestionID 17: She ______ to the meeting on time.

-- QuestionID 18: They ______ working on the project.

-- QuestionID 19: The company has ______ its profits this year.

-- QuestionID 20: We need to ______ the deadline.

-- QuestionID 21: The team works ______ together.

-- QuestionID 22: What is the main purpose of the email?

-- QuestionID 23: Who is the email addressed to?

-- QuestionID 24: When is the meeting scheduled?



--ANH EM CẦN TẠO TÀI KHOẢN TRƯỚC R CHẠY TIẾP CÂU LỆNH NÀY TRỞ ĐI
INSERT INTO UserExamResult (UserID, ExamID, StartTime, EndTime, Score) VALUES
(1, 1, '2025-04-21 09:00:00', '2025-04-21 10:30:00', 650);


INSERT INTO UserAnswer (ResultID, QuestionID, SelectedAnswerID, IsCorrect) VALUES
(1, 1, 2, 1),
(1, 2, 4, 1),
(1, 3, 6, 1);





--LISTENING DATA
USE [FAI_ENGLISH]
GO

SET IDENTITY_INSERT [dbo].[Situation] OFF -- Ensure identity insert is OFF

-- Inserting records without specifying the identity column

GO


USE [FAI_ENGLISH]
GO
SET IDENTITY_INSERT [dbo].[Podcast] ON 

SET IDENTITY_INSERT [dbo].[Podcast] OFF
GO
-- =============================================
-- UPDATE ImageUrl cho tất cả Situation -> Cloudinary
-- =============================================
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673763/roleplay/goi-dat-lich-kham.jpg' WHERE SituationID = 1;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673765/roleplay/asking-for-directions.jpg' WHERE SituationID = 2;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673766/roleplay/discussing-work-project.jpg' WHERE SituationID = 3;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673770/roleplay/presenting-business-idea.jpg' WHERE SituationID = 4;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673774/roleplay/job-interview.jpg' WHERE SituationID = 5;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673776/roleplay/booking-hotel-room.jpg' WHERE SituationID = 6;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673966/roleplay/complaining-product.jpg' WHERE SituationID = 7;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673782/roleplay/resolving-workplace-dispute.jpg' WHERE SituationID = 8;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673803/roleplay/ordering-food-restaurant.jpg' WHERE SituationID = 9;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673809/roleplay/pitching-to-investors.jpg' WHERE SituationID = 10;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673816/roleplay/negotiating-contract.jpg' WHERE SituationID = 11;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673826/roleplay/booking-movie-tickets.jpg' WHERE SituationID = 12;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673828/roleplay/consulting-business-strategy.jpg' WHERE SituationID = 13;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673834/roleplay/booking-doctor-appointment.jpg' WHERE SituationID = 14;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673836/roleplay/child-persistent-cough.jpg' WHERE SituationID = 15;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673839/roleplay/child-with-diarrhea.jpg' WHERE SituationID = 16;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673856/roleplay/child-allergy-symptoms.jpg' WHERE SituationID = 17;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673874/roleplay/child-minor-injury.jpg' WHERE SituationID = 18;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673877/roleplay/greetings-introductions.jpg' WHERE SituationID = 19;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673882/roleplay/daily-routines.jpg' WHERE SituationID = 20;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673885/roleplay/ordering-food-cafe.jpg' WHERE SituationID = 21;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673890/roleplay/asking-directions-street.jpg' WHERE SituationID = 22;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673892/roleplay/travel-planning.jpg' WHERE SituationID = 23;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673894/roleplay/shopping-conversation.jpg' WHERE SituationID = 24;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673897/roleplay/job-interview-office.jpg' WHERE SituationID = 25;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673899/roleplay/medical-appointment.jpg' WHERE SituationID = 26;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673901/roleplay/news-report.jpg' WHERE SituationID = 27;
UPDATE [Situation] SET ImageUrl = 'https://res.cloudinary.com/dvzbqymu8/image/upload/v1787673992/roleplay/environmental-discussion.jpg' WHERE SituationID = 28;
GO