
@{
    Layout = "_Layout";
}

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
    <div class="sticky-wrapper-h110">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-sidebar-custom ">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" 
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            @*  <li class="nav-item active">
                            <a class="nav-link" href="home.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                            </li> *@
                            <li>
                                <a style="margin-right: 20px;" asp-area="Mentee" class="btn-test-online" asp-controller="Toeic" asp-action="TestOnline">Test Online</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                // Đọc thông tin từ cookie
                                var fullName = User.Identity.Name;
                                var avatarUrl = User.FindFirst("Avatar")?.Value;
                                <li class="nav-item dropdown">

                                    <a class="nav-link dropdown-toggle nav-link-avatar" href="#" id="avatarDropdown" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="nav-img">
                                            <img src="@avatarUrl" alt="Avatar" class="img-fluid" style="border-radius: 50%;">
                                        </div>
                                    </a>
                                    <div class=" menu-items dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
                                        <div class="menu-title">
                                            <h6 class="dropdown-header">Hello, <span>@fullName</span></h6>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Profile" asp-action="index">
                                            <i class="bi bi-person-circle"></i> View Profile
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a id="logout-link" class="dropdown-item text-danger" href="#">
                                            <i class="bi bi-box-arrow-right"></i> <span id="logoutOption">Logout</span>
                                        </a>

                                    <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="Logout" method="post" style="display: none;"></form>

                                    </div>
                                </li>
                            }
                            else
                            {
                                <a class="btn-login-custom btn " asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
    </div>

            <!-- Khối lệnh test Online Toeic -->
            <div class="content-container mg-top-20">
                <div class="container text-center">
                    <h5>FAI Tutor LÀ Website TẠI VIỆT NAM CÓ TEST TOEIC 4 KỸ NĂNG GIỐNG 90% ĐỀ THI THẬT</h5>

                    <!-- Tabs -->
                    <div class="tabs ">
                        <button class="tab-button active-tab" onclick="showTab('listening-reading', this)">
                            Listening &
                            Reading
                        </button>
                        <button class="tab-button inactive-tab" onclick="showTab('speaking-writing', this)">
                            Speaking &
                            Writing
                        </button>

                    </div>

                    <!-- Listening - Reading -->
                    <div class="timeline tab-content" id="listening-reading">
                        <div class="timeline-item">
                            TOEIC LISTENING & READING - FULL TEST
                        </div>

                        <div class="timeline-item" data-number="1">
                            <!-- Header click để mở -->
                            <div class="timeline-header" id="toggleTestList">
                                <div></div>
                                TEST ĐẦU VÀO
                                <div class="arrow">▲</div>
                            </div>

                            <!-- Nội dung ẩn -->
                            <div class="timeline-content" id="testList">
                                <a style="text-decoration: none;" asp-controller="Toeic" asp-action="TestInput">
                                    <div class="test-item">
                                        <strong>TEST ĐẦU VÀO (3)</strong>
                                        <div class="count">13,744 lượt hoàn thành</div>
                                    </div>
                                </a>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (2)</strong>
                                    <div class="count">14,349 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (1)</strong>
                                    <div class="count">49,927 lượt hoàn thành</div>
                                </div>
                            </div>
                        </div>


                        <div class="timeline-item" data-number="2">
                            <!-- Header click để mở -->
                            <div class="timeline-header" id="toggleTestList">
                                <div></div>
                                HACKER TOEIC 3
                                <div class="arrow">▲</div>
                            </div>

                            <!-- Nội dung ẩn -->
                            <div class="timeline-content" id="testList">
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (3)</strong>
                                    <div class="count">13,744 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (2)</strong>
                                    <div class="count">14,349 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (1)</strong>
                                    <div class="count">49,927 lượt hoàn thành</div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline-item" data-number="3">
                            <!-- Header click để mở -->
                            <div class="timeline-header" id="toggleTestList">
                                <div></div>
                                HACKER TOEIC 2
                                <div class="arrow">▲</div>
                            </div>

                            <!-- Nội dung ẩn -->
                            <div class="timeline-content" id="testList">
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (3)</strong>
                                    <div class="count">13,744 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (2)</strong>
                                    <div class="count">14,349 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (1)</strong>
                                    <div class="count">49,927 lượt hoàn thành</div>
                                </div>
                            </div>
                        </div>


                        <div class="timeline-item" data-number="4">
                            <!-- Header click để mở -->
                            <div class="timeline-header" id="toggleTestList">
                                <div></div>
                                ETS 2024
                                <div class="arrow">▲</div>
                            </div>

                            <!-- Nội dung ẩn -->
                            <div class="timeline-content" id="testList">
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (3)</strong>
                                    <div class="count">13,744 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (2)</strong>
                                    <div class="count">14,349 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (1)</strong>
                                    <div class="count">49,927 lượt hoàn thành</div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline-item" data-number="5">
                            <!-- Header click để mở -->
                            <div class="timeline-header" id="toggleTestList">
                                <div></div>
                                ETS 2023
                                <div class="arrow">▲</div>
                            </div>

                            <!-- Nội dung ẩn -->
                            <div class="timeline-content" id="testList">
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (3)</strong>
                                    <div class="count">13,744 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (2)</strong>
                                    <div class="count">14,349 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (1)</strong>
                                    <div class="count">49,927 lượt hoàn thành</div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline-item" data-number="6">
                            <!-- Header click để mở -->
                            <div class="timeline-header" id="toggleTestList">
                                <div></div>
                                ETS 2022
                                <div class="arrow">▲</div>
                            </div>

                            <!-- Nội dung ẩn -->
                            <div class="timeline-content" id="testList">
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (3)</strong>
                                    <div class="count">13,744 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (2)</strong>
                                    <div class="count">14,349 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (1)</strong>
                                    <div class="count">49,927 lượt hoàn thành</div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <!-- Speaking - Writing -->

                    <div id="speaking-writing" class="timeline" style="display: none;">
                        <div class="timeline-item">TOEIC Speaking & Writing </div>
                        <div class="timeline-item" data-number="1">
                            <!-- Header click để mở -->
                            <div class="timeline-header" id="toggleTestList">
                                <div></div>
                                TOEIC SPEAKING & WRITING
                                <div class="arrow">▲</div>
                            </div>

                            <!-- Nội dung ẩn -->
                            <div class="timeline-content" id="testList">
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (3)</strong>
                                    <div class="count">13,744 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (2)</strong>
                                    <div class="count">14,349 lượt hoàn thành</div>
                                </div>
                                <div class="test-item">
                                    <strong>TEST ĐẦU VÀO (1)</strong>
                                    <div class="count">49,927 lượt hoàn thành</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>



    <!-- Lớp Overlay -->
    <div class="overlay" id="overlay"></div>


@section Scripts {
<style>
    .btn-test-online {
        display: inline-block;
        background-color: #4CAF50;
        /* Màu xanh lá */
        color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        /* Bo góc */
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    }

        .btn-test-online:hover {
            background-color: #45a049;
            /* Màu xanh nhạt hơn khi hover */
            color: white;
            transform: scale(1.05);
        }

    .navbar {
        position: unset;
        border-radius: 10px;
        top: 1 !important;
        /* Căn với sidebar mặc định */
        width: 100% !important;
        margin-top: -30px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .tab-button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 8px;
    }

    .active-tab {
        background-color: #ff6600;
        /* Màu cam */
        color: white;
    }

    .inactive-tab {
        background-color: #0033cc;
        /* Màu xanh */
        color: white;
    }

    .timeline {
        position: relative;
        margin: 20px auto;
        max-width: 600px;
        padding-left: 40px;
    }

    /* Mục timeline */
    .timeline-item {
        position: relative;
        padding: 15px 20px;
        background: white;
        border-radius: 5px;
        margin: 20px 0;
        border: 1px solid #ddd;
        font-weight: bold;
        transition: 0.3s;
    }

        .timeline-item:hover {
            background: #f1f1f1;
        }

        /* Số thứ tự trên timeline */
        .timeline-item::before {
            content: attr(data-number);
            position: absolute;
            left: -35px;
            top: 50%;
            transform: translateY(-50%);
            background: #FFA53A;
            color: white;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-weight: bold;
        }

    .timeline-header {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        color: #f59a5e;
        font-size: 18px;
    }

        .timeline-header .arrow {
            margin-left: auto;
            transition: transform 0.3s ease;
        }

    .timeline-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        white-space: nowrap;
    }

    .test-item:hover {
        background: #f0f0f0;
    }

    #testList {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    .test-item {
        flex: 1;
        text-align: center;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        min-width: 200px;
    }
</style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".timeline-header").forEach(header => {
                header.addEventListener("click", function () {
                    let content = this.nextElementSibling;
                    let arrow = this.querySelector(".arrow");

                    if (content.style.display === "none" || content.style.display === "") {
                        content.style.display = "block"; // Hiển thị nội dung
                        arrow.innerHTML = "▼"; // Đổi mũi tên xuống
                    } else {
                        content.style.display = "none"; // Ẩn nội dung
                        arrow.innerHTML = "▲"; // Đổi mũi tên lên
                    }
                });

                // Ẩn nội dung khi tải trang
                let content = header.nextElementSibling;
                content.style.display = "none";
            });
        });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Mặc định hiển thị Listening & Reading, ẩn Speaking & Writing
            document.getElementById('listening-reading').style.display = 'block';
            document.getElementById('speaking-writing').style.display = 'none';
        });

        function showTab(tabId, btn) {
            // Ẩn tất cả các tab trước khi hiển thị tab được chọn
            document.getElementById('listening-reading').style.display = 'none';
            document.getElementById('speaking-writing').style.display = 'none';

            // Hiển thị tab được chọn
            document.getElementById(tabId).style.display = 'block';

            // Cập nhật trạng thái active/inactive của các nút
            document.querySelectorAll('.tab-button').forEach(button => {
                button.classList.remove('active-tab');
                button.classList.add('inactive-tab');
            });

            // Cập nhật lại class cho nút đang chọn
            btn.classList.add('active-tab');
            btn.classList.remove('inactive-tab');
        }

    </script>


}